UnclePhill.WebAPI_NFeS.API/UnclePhill.WebAPI_NFeS.Domain/Connected Services/NFeS_API_Saida/WSSaida.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.sil.com/" targetNamespace="http://webservices.sil.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nfdSaida" type="tns:nfdSaida" />
  <xs:element name="nfdSaidaResponse" type="tns:nfdSaidaResponse" />
  <xs:complexType name="nfdSaida">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpfUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="hashSenha" type="xs:string" />
      <xs:element minOccurs="0" name="inscricaoMunicipal" type="xs:string" />
      <xs:element minOccurs="0" name="recibo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nfdSaidaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>