UnclePhill.WebAPI_NFeS.API/UnclePhill.WebAPI_NFeS.API/Connected Services/NFeS.API.Serra.Interface/WSInterface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.sil.com/" targetNamespace="http://webservices.sil.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="execute" type="tns:execute" />
  <xs:element name="executeResponse" type="tns:executeResponse" />
  <xs:complexType name="execute">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="hashSenha" type="xs:string" />
      <xs:element minOccurs="0" name="xml" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>