UnclePhill.WebAPI_NFeS.API/UnclePhill.WebAPI_NFeS.WS/Connected Services/NFeS.API.Serra.Entrada/WSEntrada.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.sil.com/" targetNamespace="http://webservices.sil.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consultarAtividades" type="tns:consultarAtividades" />
  <xs:element name="consultarAtividadesResponse" type="tns:consultarAtividadesResponse" />
  <xs:element name="nfdEntrada" type="tns:nfdEntrada" />
  <xs:element name="nfdEntradaCancelar" type="tns:nfdEntradaCancelar" />
  <xs:element name="nfdEntradaCancelarResponse" type="tns:nfdEntradaCancelarResponse" />
  <xs:element name="nfdEntradaResponse" type="tns:nfdEntradaResponse" />
  <xs:complexType name="nfdEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpfUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="hashSenha" type="xs:string" />
      <xs:element name="codigoMunicipio" type="xs:int" />
      <xs:element minOccurs="0" name="nfd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nfdEntradaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nfdEntradaCancelar">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpfUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="hashSenha" type="xs:string" />
      <xs:element minOccurs="0" name="nfd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nfdEntradaCancelarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarAtividades">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpfUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="hashSenha" type="xs:string" />
      <xs:element minOccurs="0" name="inscricaoMunicipal" type="xs:string" />
      <xs:element name="codigoMunicipio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarAtividadesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>